* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg-star.png");
    
}
.container {
    width: 100%;
}

.container .nameProject {
    width: 100%;
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .nameProject h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFE91A;
}

.containerDetails {
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;
}

.detailsCharacters {
    width: 400px;
    border: 1px solid white;
    color: #ffe91a;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
}

.detailsCharacters:hover {
    background-color: rgba(128, 128, 128, 0.699);
}

.containerInitial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerInitial .buttonCharacter button {
    width: 250px;
    height:60px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:rgb(49, 49, 49);
}

.containerInitial .buttonCharacter button:hover {
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.699);
}

.containerPreDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonCharacterDetails {
    width: 100%;
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCharacterDetails .btns .initbtn {
    width: 150px;
    height:46px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:rgb(49, 49, 49);
    margin-right: 20px;
}

.buttonCharacterDetails .btns .prevbtn {
    width: 150px;
    height:46px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:rgb(49, 49, 49);
    margin-right: 20px;
}

.buttonCharacterDetails .btns .morebtn {
    width: 150px;
    height:46px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:rgb(49, 49, 49);
}

.buttonCharacterDetails .btns button:hover {
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.699);
}
